.indexbox {
    display: grid;
    grid-template-columns: 2px 1fr 1fr 2px;
    grid-template-rows: 160px 1fr 100px;
    height: 1000px;
    grid-template-areas:
        ". header nav ."
        ". main aside ."
        ". footer footer .";
    gap: 1px;
}

header {
    background-color: rgb(167, 161, 151);
    grid-area: header;
}
nav {
    background-color: rgb(167, 161, 151);
    grid-area: nav;
}
main {
    background-color: rgb(167, 161, 151);
    grid-area: main;
}
aside {
    background-color: rgb(167, 161, 151);
    grid-area: aside;
}
footer {
    background-color: rgb(167, 161, 151);
    grid-area: footer;
}

body {
    background-color: rgb(43, 40, 40);
    color: purple;
}

.styling {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    margin: 3px;
    padding: 4px 4px 4px 0px;
    border: solid rgb(149, 212, 53);
    background-color: rgb(167, 161, 151);
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.gallerybox {
    display: grid;
    grid-template-columns: 2px 1fr 2px;
    grid-template-rows: 120px 1fr 80px;
    height: 1000px;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer .";
    gap: 1px;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

.contactbox {
    display: grid;
    grid-template-columns: 2px 1fr 200px 2px;
    grid-template-rows: 100px 1fr 100px;
    height: 1000px;
    grid-template-areas:
        ". header header ."
        ". main aside ."
        ". footer footer .";
}

header {
    grid-area: header;
}
body {
    grid-area: main;
}
footer {
    grid-area: footer;
}

@media (min-width: 720px) {
    .indexbox {
        display: grid;
        grid-template-columns: 2px 1fr 250px 2px;
        grid-template-rows: 150px 150px 1fr 100px;
        height: 1000px;
        grid-template-areas:
            ". header header ."
            ". nav nav ."
            ". main aside ."
            ". footer footer .";
    }

    body {
        background-color: rgb(6, 90, 17);
        color: rgb(70, 44, 185);
        font-size: 18px;
        line-height: 20px;
    }
    .inline li {
        display: inline;
        margin: 10px;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: rgb(31, 32, 31);
        color: rgb(20, 20, 20);
        font-size: 14px;
        line-height: 16px;
    }
}
